.grid1{
    background: white;
    padding: 15px;
    width: 90%;
    height: 280px;
    margin: 10px auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.grid2{
    background: white;
    width: 90%;
    margin: auto;
    height: 280px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.grid2 h1{
    margin: 0 0 10px 0;
    justify-self: center;
    align-self: center;
}
